*{
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}

body{
  margin: 0;
}

header {
  margin: 100px 20px 190px 20px;
}

.title {
  text-align: center;
  font-weight: 500;
  letter-spacing: -0.02em;
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0;
}

.subtitle {
  font-size: 1.3em;
}

.subtitle--small {
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.header__details {
  margin-top: 100px;
}

.icon {
  max-width: 20px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.main {
  background: #00FFA6;
  width: 100%;
}

.phone {
  overflow: visible;
  position: relative;
  background: white;
  width: 302px;
  height: 535px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
}

.phone__frame {
  pointer-events: none;
  overflow: visible;
  position: absolute;
  top: -90px;
  left: -23px;
  width: calc(100% + 46px);
}

@media (max-width:450px) {
  .main{
    padding: 0;
  }

  .phone{
    width: 100%;
    height: 100vh;
  }

  .phone__frame {
    display: none;
  }
}


.app__screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__screen--black{
  background-color: black;
}

.app__screen--game{
  animation: background-black-to-white 0.2s ease;
}

@keyframes translate-y-animation {
    from {transform: translateY(-20px); opacity: 0}
    to {transform: translateY(0px)); opacity: 1}
}

@keyframes scale-zero-to-one {
    from {transform: scale(0) rotate(0deg);}
    to {transform: scale(1) rotate(45deg);}
}

@keyframes background-black-to-white {
    from {background-color: black;}
    to {background-color: white;}
}

.app__title{
  font-size: 2em;
  color: white;
  margin: 0;
  padding-top: 80px;
}

.app__subtitle{
  font-size: 0.8em;
  letter-spacing: 0.2em;
  color: #00FFA6;
}


#home-subtitle {
  text-align: center;
  font-size: 0.5em;
}

.losang {
  cursor: pointer;
  background: #00FFA6;
  transition: 0.2s ease;
  outline: 0;
  border: 0;
  margin: 0;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-45deg);
  box-shadow: 0 0 40px -4px rgba(0,0,0,0.3);
}

.losang__text {
  transform: rotate(45deg);
  color: white;
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 3px;
  letter-spacing: 0.05em;
}

.losang__text--feedback{
  font-size: 1.1em;
  letter-spacing: 0.15em;
}

.losang--start{
  margin-top: 100px;
  border: solid 2px #00FFA6;
}

.losang--start:hover{
  background-color: black;
  transform: rotate(-45deg) scale(1.3);
}

.losang--start:hover .losang__text{
  color: #00FFA6;
}

.losang--touch{
  animation: scale-zero-to-one 0.5s ease;
}

.losang--score{
  cursor: none;
  width: 120px;
  height: 120px;
  margin-top: 70px;
  background-color: black;
  border: solid 2px #00FFA6;
}

.song-menu-title {
  padding-top: 80px;
  color: white;
}

.song-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.song-select {
  color: white;
  font-size: 0.7em;
  padding-top: 3%;
  border: none;
  background: none!important;
  outline: 0;
}

.song-select:hover {
  color: #00FFA6;
  cursor: pointer;
}

.game-explain {
  font-size: 1em;
  padding-top: 60px;
  animation: translate-y-animation 0.8s ease;
}

.game-explain-bold {
  font-weight: 600;
}

#touch {
  margin-top: 33%;
  background: black;
}

#counter {
  font-size: 2.5em;
}

#calculating-results {
  color: black;
}


#score {
  font-size: 2.5em;
  color: #00FFA6;
}

#restart {
  color: white;
  margin-top: 45%;
  border: none;
  outline: 0;
  background: none!important;
}

#restart:hover {
  color: #00FFA6;
  cursor: pointer;
}

.cta-form {
  margin: 190px 20px 100px 20px;
}

.cta-form__description {
  font-size: 1em;
}

.cta-form__input {
  font-size: 1.2em;
  padding: 10px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #00FFA6;
  width: 350px;

}

@media (max-width:450px) {
  .cta-form__input {
    width: 90%;
  }
}

.cta-form__input::placeholder{
  color: #ccc;
}

.cta-form__submit {
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9em;
  letter-spacing: 0.05em;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  background-color: #00FFA6;
  color: white;
  transition: 0.2s ease;
}

.cta-form__submit:hover {
  background-color: black;
  cursor: pointer;
}

.footer__text{
  color: #888;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.7em;
}

.footer__text a{
  font-weight: 500;
  color: inherit;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
